<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.dreamhack.Dynosaur"
        versionCode="10" 
        version   = "1.0.0">

    <name>Dynosaur</name>

    <description>
        Create polaroids of web apps using your Salesforce.com account.
    </description>

    <author href="http://dynosapp.com" email="me@leander.ca">
        Leander, Parth and Beatrice
    </author>

    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="KeyboardShrinksView" value="false" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="false" />
    <preference name="exit-on-suspend" value="true" />
    <preference name="show-splash-screen-spinner" value="false" />
    <preference name="auto-hide-splash-screen" value="false" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <preference name="android-windowSoftInputMode" value="adjustPan" />

    <content src="index.html" />

    <icon width="36" height="36" src="icons/AppIcon36.png" />
    <icon width="48" height="48" src="icons/AppIcon48.png" />
    <icon width="57" height="57" src="icons/AppIcon57.png" />
    <icon width="64" height="64" src="icons/AppIcon64.png" />
    <icon width="72" height="72" src="icons/AppIcon72.png" />
    <icon width="80" height="80" src="icons/AppIcon80.png" />
    <icon width="96" height="96" src="icons/AppIcon96.png" />
    <icon width="114" height="114" src="icons/AppIcon114.png" />
    <icon width="144" height="144" src="icons/AppIcon144.png" />
    <icon width="173" height="173" src="icons/AppIcon173.png" />

    <icon gap:density="ldpi" gap:platform="android" src="icons/AppIcon36.png" />
    <icon gap:density="mdpi" gap:platform="android" src="icons/AppIcon48.png" />
    <icon gap:density="hdpi" gap:platform="android" src="icons/AppIcon72.png" />
    <icon gap:density="xhdpi" gap:platform="android" src="icons/AppIcon96.png" />
    <icon gap:platform="blackberry" src="icons/AppIcon80.png" />
    <icon gap:platform="blackberry" gap:state="hover" src="icons/AppIcon80.png" />
    <icon gap:platform="ios" height="57" src="icons/AppIcon57.png" width="57" />
    <icon gap:platform="ios" height="72" src="icons/AppIcon72.png" width="72" />
    <icon gap:platform="ios" height="114" src="icons/AppIcon114.png" width="114" />
    <icon gap:platform="ios" height="144" src="icons/AppIcon144.png" width="144" />
    <icon gap:platform="webos" src="icons/AppIcon64.png" />
    <icon gap:platform="winphone" src="icons/AppIcon48.png" />
    <icon gap:platform="winphone" gap:role="background" src="icons/AppIcon173.png" />
    
    <access origin="http://dynosapp.com" subdomains="true" />
    <access origin="*" subdomains="true" />

</widget>