body {
	background: #1b1b23;
}

.app-content {
	background: inherit;
}

/* General Utils */
.bg {
	position: absolute;
	z-index: -1;
}

#login-page {
	background-image: url(../images/login-bg.png);
	background-size: 100% 100%;
	text-align: center;
}
	#login-page .logo {
		display: inline-block;
		width: 90%;
		margin: 100px auto 30px;
	}

	#login-form {
		width: 90%;
		margin: 0 auto;
	}
		#login-form .first {
			border-radius: 15px 15px 0 0;
			margin: 0 0 1px 0;
		}
		#login-form .last {
			border-radius: 0 0 15px 15px;
			margin: 0 0 10px 0;
		}
		#login-form input:focus {
			transition: opacity 0.3s;
			color: #121212;
			opacity: 1;
		}
		#login-form input {
			background: #ffffff;
			opacity: 0.5;
			font-weight: bold;
			font-size: 0.9em;
			text-indent: 10px;
			border: none;
			outline: none;
		}
		#login-form .app-button {
			border-radius: 15px;
			height: 40px;
			background: #7976b4;
			color: #ffffff;
		}

#home-page {
	background: #1b1b24;
}

.app-topbar {
	background: #232139;
	border-bottom: 1px solid rgba(0,0,0, 0.5);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.78);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.78);
	box-shadow: 0 0 5px rgba(0,0,0,0.78);
}
	.app-title {
		text-transform: uppercase;
		font-weight: normal;
		font-size: 18px;
	}

#apps-list {
	background: inherit;
	margin: 0;
}
	#apps-list .app {
		position: relative;
		display: block;
		height: auto;
		text-align: left;
		font-weight: normal;
		line-height: 1em;
		border: none;
		border-bottom: 1px solid rgba(105, 105, 111, 0.2);
		padding: 15px 10px;
		color: #ffffff;
		margin-bottom: 1px;
		background-image: -webkit-gradient(linear, left center, right center, from(#53506a), to(#3f3d51));
		background-image: -moz-linear-gradient(left, #53506a, #3f3d51);
		background-image: linear-gradient(to right, #53506a, #3f3d51);
		-webkit-box-shadow: inset 0 1px 10px rgba(0,0,0,0.21);
		-moz-box-shadow: inset 0 1px 10px rgba(0,0,0,0.21);
		box-shadow: inset 0 1px 10px rgba(0,0,0,0.21);

	}
		#apps-list .app .glow {
			position: absolute;
			left: 0; top: 0;
			height: 100%;
			width: 4px;
			margin-bottom: 1px;
			display: inline-block;
			background: #00afed;
			-webkit-box-shadow: 0 0 6px rgba(61,252,246,0.44);
			-moz-box-shadow: 0 0 6px rgba(61,252,246,0.44);
			box-shadow: 0 0 6px rgba(61,252,246,0.44);
		}
		#apps-list .app-thumbnail {
			vertical-align: top;
			display: inline-block;
			height: 64px;
			width: 64px;
			border-radius: 7px;
			-webkit-box-shadow: 1px 2px 0 rgba(0,0,0,0.68);
			-moz-box-shadow: 1px 2px 0 rgba(0,0,0,0.68);
			box-shadow: 1px 2px 0 rgba(0,0,0,0.68);
			-webkit-box-shadow: inset 1px 1px 10px rgba(0,0,0,0.30);
			-moz-box-shadow: inset 1px 1px 10px rgba(0,0,0,0.30);
			box-shadow: inset 1px 1px 10px rgba(0,0,0,0.30);
			background: #232139;
			margin-left: 8px;
		}
		#apps-list .app-details {
			display: inline-block;
			margin: 8px 0 10px 15px;
			width: 70%;
		}
			#apps-list .app h3 {
				font-weight: normal;
				margin: 5px auto;
			}
			#apps-list .app p {
				font-size: 0.9em;
				color: #9b9898;
				white-space: normal;
				margin-left: -1px;
			}

	#apps-list .app:active {
		-webkit-box-shadow: inset 0 0 50px rgba(0,0,0,0.88);
		-moz-box-shadow: inset 0 0 50px rgba(0,0,0,0.88);
		box-shadow: inset 0 0 50px rgba(0,0,0,0.88);
		background-image: -webkit-gradient(linear, left center, right center, from(#3f3d51), to(#1b1b24));
		background-image: -moz-linear-gradient(left, #3f3d51, #1b1b24);
		background-image: linear-gradient(to right, #3f3d51, #1b1b24);
	}
		#apps-list .app:active .glow {
			color: #ffffff;
		}

#app-page {
	background: #1b1b24;
}
	#app-page .app-image {
		display: block;
		height: 200px;
		-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.4);
		-moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.4);
		box-shadow: inset 0 0 10px rgba(0,0,0,0.4);
		background-image: -webkit-gradient(radial, center center, 0, center center, 212, from(#353442), to(#2C2C35));
		background-image: -webkit-radial-gradient(center center, cover, #353442, # #2C2C35);
		background-image: -moz-radial-gradient(center center, cover, #353442, # #2C2C35);
		background-image: radial-gradient(center center, cover, #353442, # #2C2C35);
	}
	#app-page .app-box {
		border-bottom: 1px solid #3f3f49;
	}
		#app-page h3 {
			text-indent: 25px;
			text-transform: uppercase;
			font-size: 0.9em;
			margin: 25px 0;
			color: #ffffff;
		}
		#app-page .app-text {
			margin: 15px 25px 30px;	
			color: #9b9898;
		}
	#app-page .app-button {
		color: #00afed;
	}
	#app-page .app-button.active {
		color: #ffffff;
		border-radius: 5px;
		background: #272734;
	}

.app-topbar .app-button.active {
	background: transparent;
	color: #00afed;
}